.carousel {
   width: 1900px;
   height: auto;
   overflow: hidden;
}
.carousel ul {
   width: 400%;
   height: auto;
   padding:0;
   margin:0;
}
.carousel li {
   list-style: none;
   float: left;
}

.carousel img {
  max-width: 100%;
  height: auto;
}

/* prev / next */
.carousel a {
  position: absolute;
  top: 26%;
}
.carousel a i {
  font-size: 3em;
  color: black;
}
.carousel a.prev {
  left: 0
}
.carousel a.next {
  right: 0
}
